@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');

body{
    margin: 0;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 200;
    
}


/* @media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } */

/*utility classes*/
h2{
    font-weight: 200;
    font-size: 4.25rem;
    display: block;
    margin: 0;
 }
 .para{
     font-size: 1.25rem;
     margin: 0;
     color: rgb(117, 117, 117);
 }


 img{
    max-width: 100%;
    height: auto;
    display: inline-block;
    object-fit: cover;
 }
 html{
 font-size: 100%;
 }
.img{
    overflow: hidden;
}
.yellow-box{
    background-color: #F7DD7D;
    z-index: -1;
    position: absolute;
    width: 500px;
    height: 900px;
    right: 0;
    left: 50%;
}

.hero-section{
    font-family: 'Oswald', 'sans-serif';
}
.hero-container{
  position: relative;
  text-align: center;  
  
}
.hero-container .img{
 max-width: 1500px; 
}


.hero-container .hero-title{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.hero-title h1{
    background-color: white;
    display: inline-block;
    font-size: 2.8rem;
    width:65%;
    font-weight: 200;
    margin: 5px;
    padding: 10px 0;
}
.hero-title h1:last-child{
    font-weight: 600;
}
.nav-bar{
    display: flex;
    position:fixed;
    z-index: 999;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-top: 3px solid yellow;
    background-color: rgb(255, 255, 255);
}
.nav-bar ul{
    list-style: none;
    display: flex;
    position: relative;
    padding: 0;
}
.nav-bar ul li a{
    text-decoration: none;
    margin-right: 20px;
    padding:0 20px;
    color: black;
    font-weight: 200;
    letter-spacing: 3px;
    width: 50px;
    
}

.underbar{
    height:3px; 
    position: absolute;
    top: 30px;
    -webkit-transition: 0.5s ease;
    background:#FFF01F;
  }
/* li:hover{
        text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
        cursor: pointer;
} */
li:nth-child(1):hover ~ .underbar{
    left: 10px;
    width:60px;
    cursor: pointer;
}
li:nth-child(2):hover ~ .underbar{
    left: 115px;
    width:60px;
    cursor: pointer;
}
li:nth-child(3):hover ~ .underbar{
    left: 220px;
    width:100px;
    cursor: pointer;
}


.mid-section{
    margin: 2.5%;
    padding:2.5%;
}


.intro h2{
    width: 60%;
}
.intro .para{
    margin-left: auto;
    width: 50%;
}
.breakfast-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}

.breakfast-section ul li {
 list-style: none;
}
.breakfast-section a {
text-decoration: none;
color: black;
font-size: 2rem;
}

.breakfast-content{
    text-align: right;
    width: 35%;
    margin-right: auto;
    margin-top: 10%;
    margin-left: 50px;
}
/* .breakfast-content h2{
    display: block;
} */

.breakfast-images{
    display: flex;
    margin: 10px;
    
}
.breakfast-images .img:nth-child(1){
    margin-top:300px;
    margin-right: 15px;
    width: 50%;
    height: 400px;
    
}
.breakfast-images .img:nth-child(2){
    margin-top: 100px;
    width: 50%;
    height: 500px;
}
.menu-list-content{
    display: flex;
    justify-content: space-between;
    margin-top: -250px;
}
.menu-list-content ul{
   margin-top: 45%;
   margin-left:50px;
}
.menu-list-content ul li{
   margin-top: 10px;
}


/* Weight-loss section */

.icon{
    width: 100px;
    height: 100px;
}
.weight-loss{
    display: flex;
    margin-top: 150px;
}

.weight-loss-intro{
    text-align: center;
    padding: 50px 10px;

}
.weight-loss-intro h2{
    font-size: 3rem;
    padding: 10px 0;

}
.cards{
    margin: 50px;
    width: 400px;
}
.h3-heading{
    font-size: 1.5rem;
    font-weight: 200;
}
.readmore a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 300;
    color: black;
    margin: 100px 100px 0 0;
    border-bottom: 3px solid black;
    position: relative;

}
.readmore a::before{
    content: '';
    background-color: #ffdd64ea;
    width: 70px;
    height: 30px;
    top: 18px;
    right: 15px;
    z-index: -1;
    position: absolute;
    transition: 250ms;
}

.readmore a:hover::before{
    top:0;
    right: -5px;
    width: 85px;
}
/*CAFE-MOOD_MENU*/
.cafe-mood{
    display: flex;
    margin:100px;
    justify-content: space-between;
    position: relative;
}
.cafe-mood .img{
    width: 700px;
    height: 650px;
    padding: 50px;
    margin-top: 100px;
}
.cafe-mood-content{
    width: 50%;
    text-align: right;
    margin-top: 400px;

}
.cafe-mood-content p{
    width: 300px;
    margin-left: auto;
}

/*ending-cards*/
.ending-cards{
    display: flex;
    margin-top: 200px;

}
.ending-cards .img{
   width: 400px;
   height: 350px;
   margin: 0 20px;
}
.ending-cards-content{
    padding: 50px 50px;
    width: 200px;
}

/*bottom-section*/
.bottom{
    position: relative;

}
.bottom .img{
    /* max-width: 1500px; */
}
.bottom .bottom-content{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
}
.socials-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials-icons .img{
    background-color: white;
    border-radius:50% ;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 15px;
}



/*footer*/
footer{
    background-color:#333333;
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
    letter-spacing: 10px;
    font-weight: 200;


}
/* .nav-bar img{
    width: 100%;

} */
 .menu-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    top:10px;
    left: 10px;
    padding: 2px;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: none;

}



/*Reponsiveness*/

@media only screen and (min-width:1500px){
    .hero-container{
       display: flex;
       background-color:#F7DD7D;
       
   }
   .hero-container .img{
       border-right: 10px solid white;
       border-left: 10px solid white;
       margin:auto
       
    }
    h2{
       font-size: 5rem;
    }
    .para{
        font-size: 1.5rem;
    }
    .yellow-box{
        width: 600px ;
        height: 1000px;
    }
    .weight-loss-intro h2{
        font-size: 3.5rem;
    }
   }

 @media only screen and (max-width:1300px){

    
    h2{
       font-size: 3.75rem;
    }
    .para{
        font-size: 1rem;
    }
    .yellow-box{
        width: 400px ;
        height: 800px;
    }
    .ending-cards-content{
        padding-top: 0;
    }
    .cafe-mood .img{
        padding: 30px;
    }
    .cafe-mood-content{
        margin-top:300px;
    }
    .yellow-box{
        width: 450px;
        height: 850px;
     }
  }

  @media only screen and (max-width:1024px){
    .ending-cards{
        flex-direction: column;
    }
    .card-1{
    display: flex;
    }
    .card-2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .ending-cards-content{
   padding: 15px;
    }
    .breakfast-images img{
        width: 400px;
    }
    .cafe-mood .img{
        padding: 0;
        padding-top: 50px;
    }
    .cafe-mood-content{
        margin-top:200px;
    }
    .yellow-box{
        width: 400px;
        height: 800px;
     }
  }
@media only screen and (max-width:920px){
 .yellow-box{
    width: 350px;
    height: 750px;
 }
 .weight-loss{
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .weight-loss-intro{
  width: 300px;
}
.weight-loss .cards{
    width: 300px;
    margin: 10px;
}
.cards:nth-child(2){
padding-top: 100px;
}
.breakfast-images{
  flex-direction: column;
  margin-top: 50px;
}
.breakfast-images .img:first-child,.breakfast-images .img:last-child{
    margin-top: 10px;
    height: auto;
    width: 250px;
}
.breakfast-content{
    width: 40%;
}
.cafe-mood{
    margin:100px 20px;
}
.cafe-mood-content{
    z-index: 999;
    padding-left: 55px;
}
.cafe-mood .img{
    z-index: 999;
    overflow: visible;
}
.cafe-mood .img img{
    border: 10px solid rgb(255, 255, 255);
    background-color: #F7DD7D;
    padding: 20px;
    width: 350px;

}
.intro h2{
    width: 100%;
}
}

@media only screen and (max-width:720px){
    .weight-loss{
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    html{
        font-size: 80%;
    }
    .yellow-box{
        width: 250px;
        height: 650px;
    }
    .cafe-mood .yellow-box{
        height: 400px;
    }
    .cafe-mood-content{
        margin-top: 80px;
    }
    .cafe-mood .img{
        margin-top:0;
        height: auto;
    }
    .cafe-mood .para{
        width: 250px;
        padding: 10px;
    }
    .ending-cards{
        margin: 10px;
    }
    .cards:nth-child(2){
        padding-top: 0;
    }
    .readmore a::before{
        width: 60px;
        height: 25px;
        top: 14px;
    }
    .readmore a:hover::before{
        width:70px ;
    }
    .breakfast-images{
        display: block;
        width: 250px; 
    }

}

@media only screen and (max-width:600px){
    h2{
        font-size: 2rem;
    }
    .weight-loss-intro h2{
        font-size: 2.5rem;
    }
    .menu-list-content ul a{
        font-size: 1.25rem;
        letter-spacing: 3px;
    }
    .yellow-box:last-of-type{
        width: 200px;
        height: 350px;
    }
    .socials-icons .img{
        height: 30px;
        width: 30px;
    }
    .icon{
        width: 75px;
        height: 75px;
    }
    .hero-title h1{
        font-size: 2rem;
    }
    .menu-list-content{
        align-items: center;
    }
    .breakfast-images{
        width: 150px;
    }
    .breakfast-images img{
        height: 200px;
        width: 150px;
    }
    footer{
        padding:10px 0;
        font-size: .75rem;
        letter-spacing: 2px;
    }
}
@media only screen and (max-width:480px){
    .nav-bar ul{
   flex-direction: column;
   margin: 0;
   background-color: white;
   display: none;


    }
    .nav-bar{
        display: block;
        width: 0px;
        height: 100%;
        transition:width 200ms ease-out ;
    }
    .underbar{
    display: none;
    }
    .nav-bar ul li{

        border-top:1px solid black ;
        padding: 10px 0;
    }
    .nav-bar ul li a{
        margin: 0;
        padding: 0;
    }
    .menu-btn{
        display: inline-block;
        z-index: 999;
    }
    .menu-btn:focus ~ .nav-bar ul{
    display: flex;
    flex-direction: column;
    z-index: 9999;
    }
    .menu-btn:focus ~ .nav-bar{
        width: 100px;
    }

    /* .menu-btn:h{
     display: none;
    } */

    
    
    body{
        padding: 0 5px;
    }
    h2{
        font-size: 1.75rem;
        text-align: center;
    }
    .intro .para{
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .weight-loss{
        margin-top: 0;
    }
    .weight-loss-intro h2{
        font-size: 1.75rem;
    }
    .para{
        font-size: .75rem;
    }
    .hero-title h1{
        font-size: 1.35rem;
        padding: 5px 0;
    }
    .card-1{
        flex-direction: column;
    }
    .card-2{
        flex-direction: column;
    }
    .cafe-mood{
        flex-direction: column;
    
    }
    .h3-heading{
        font-size: 1rem;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
    .yellow-box:last-of-type{
        width: 0;
        height: 0;
    }
    .menu-list-content{
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .menu-list-content ul{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .breakfast-section{
        margin-top: 50px;
    }
    .breakfast-images{
        margin-top: 250px;
    }
    .breakfast-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .ending-cards{
        align-items: center;
        text-align: center;
    }
    .ending-cards .img{
        width: 225px;
        height: 225px;
    }
    .card-1{
        align-items: center;
    }
    .card-2{
        align-items:center;
    }

    .cafe-mood-content{
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;

    }
    .cafe-mood-content .para{
        width: 100%;
    }
    .cafe-mood .img img{
        background-color: white;
        padding: 0px;
       border: none;
       width: 225px;
    }
    .cafe-mood .img{
        width: 225px;
       margin: 0 20px;
       padding: 0;
    }
    .cafe-mood{
        align-items: center;
        margin: 100px 0;
    }
    .readmore a{
        font-size: 1rem;
    }
    .readmore a::before{
        width: 45px;
        height: 20px;
    }
    .socials-icons .img{
        width: 25px;
        height: 25px;
        padding: 3px;
    }

}